

@{
    ViewBag.Title = "AllUsersStats";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<h2>Global Users Stats</h2>

<div>Number of Users with offers = @ViewBag.Result</div>
<div>Percentage of Users with offers = @ViewBag.Result8</div>
<div>average prices of users = @ViewBag.Result2</div>
<div>max prices of users = @ViewBag.Result3</div>
<div>min prices of users = @ViewBag.Result4</div>
<div>average space of users = @ViewBag.Result5</div>
<div>max space of users = @ViewBag.Result6</div>
<div>min space of users = @ViewBag.Result7</div>




