

@{
    ViewBag.Title = "UserStats";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h2>User Stats</h2>

<div>average price of this user = @ViewBag.Result</div>
<div>min price of this user = @ViewBag.Result2</div>
<div>max price of this user = @ViewBag.Result3</div>
<div>average space of this user = @ViewBag.Result4</div>
<div>min space of this user = @ViewBag.Result5</div>
<div>max space of this user = @ViewBag.Result6</div>
