@model Dari.tn.Models.SurveillanceImages

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SurveillanceImages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contractId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
