@model Dari.tn.Models.Livreur
@{
    ViewBag.Title = "Details";
}

<h2>Details of delivery Man</h2>




<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom
       )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lieuxTravail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuxTravail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nbMission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbMission)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



