@model IEnumerable<Dari.tn.Models.Furniture>
@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal">
    <h2> All Furnitures</h2>
    <hr />
    <div class="form-group">


        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        <img src="@Url.Content("~/Image/"+item.image) " width="150" height="150" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id, name = item.name, description = item.description, price = item.price, image = item.image }) <br />
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br />
                    </td>
                </tr>

            }

        </table>
       
    </div>
</div> 