@model IEnumerable<Dari.tn.Models.Contract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surveillance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surveillance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.contractId }) |
            @Html.ActionLink("Details", "Details", new { id = item.contractId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.contractId })|
            @Html.ActionLink("Download", "Download")
        </td>
    </tr>
}

</table>
