@model Dari.tn.Models.Seller


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sellerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


