@model IEnumerable<Dari.tn.Models.Subscription>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<section id="banner">
    <!-- Slider -->
    <div id="demo-1" data-zs-src='["/Content/img/photos/img1.jpg", "/Content/img/photos/img2.jpg", "/Content/img/photos/img3.jpg"]' data-zs-overlay="dots">
        <div class="demo-inner-content">
            <h1><span>HillSide</span></h1><br/>
            <p>World class Real estate Venture</p>
        </div>
    </div>
    <!-- end slider -->
</section>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fidelity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chargeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fidelity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chargeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
