@model IEnumerable<Dari.tn.Models.Offer>

@{
    ViewBag.Title = "SaveHistory2";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chamNb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.space)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.levelNb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.airC)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chamNb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.space)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.levelNb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airC)
            </td>
        </tr>
    }

</table>





